@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

body {
    background-color: white;
    font-family: 'Raleway', Arial, Helvetica, sans-serif ;
}

#blocpage {
    max-width : 1340px ;
    margin : auto ;
}

h1 {
    font-size: 1.3em;
    font-weight: bold;
}

h2, li a, p {
    font-size: 1em;
    font-weight : normal;
}

h3 {
    font-size : 1em ;
    font-weight: bold;
}

a {
    text-decoration : none;
    color : black ;
}

i {
    font-size : 1em ;
    color :#0065FC;
}

                                                     /* header */

header {
    display: flex;
    justify-content: space-between ;
}

#logo img {
    width: 110px;
    height: 42px;
    margin-top : 40px;
    margin-left : -10px ;
}

#logo h1 {
    margin-top: 40px ;
}

#logo h2 {
    margin-top : 10px ; margin-bottom: 20px ;
}

nav ul {
    display :flex ;
    justify-content: space-between;
    width : 390px ;
}

nav li {
    margin-top: 35px;
}

nav li:last-child a {
    color : #0065fc ;
    font-weight: bold; 
}

nav a:hover {
    color : #0065FC ;
    border-top : 1px solid #0065FC ;
    padding-top: 50px ;
} /*sur la maquette, la ligne border top dépasse le texte, 
comment la rendre plus longue ? 
et comment la fixer au haut de l'écran ? */


                                                    /*champs de recherche*/

input, label, #contain_filtres p {
    font-size : 1em ;
    font-weight: bold;
}

i[class="fas fa-map-marker-alt"] {
    background-color: #F2F2F2;
    color : black ;
    border : 1px #f2f2f2 solid ;
    border-radius: 15px 0 0 15px;
    padding : 16px ;
}

input[type="search"] {
    border : none ;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    padding : 14px ;
    width: 230px;
}

input[type="submit"] {
    background-color: #0065FC;
    color : white ;
    border : 1px #0065FC solid ;
    border-radius: 0 15px 15px 0;
    padding : 14px ;
} /* n'arrive pas à bien coller tous les éléments ensemble */

#contain_filtres {
    display : flex ;
    justify-content: space-between;
    width : 930px ;
    margin-top : 30px ;
    margin-bottom: 40px ;
} /*mauvaises finitions des boutons... ! */

.button_filtre {
    display: inline;
    border : 2px #f2f2f2 solid ;
    border-radius: 20px;
    padding-right: 20px;
} /*attention décalage bas de la border, pas présent avant changements... ?*/

.button_filtre i {
    background-color: #DEEBFF;
    border : 1px #DEEBFF solid;
    border-radius: 50%;
    padding : 12px;
    margin-right : 10px ;
}

.button_filtre:hover {
    background-color: #DEEBFF;
    color : #0065FC;
}

input[type="checkbox"] {
    display: none;
}

i[class="fas fa-info"] {
    border : 2px #F2F2F2 solid ;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 10px;
}

                                    /* section hébergements */

i[class*="star"] {
    color : #0065fc ;
    font-size: 1em;
    letter-spacing: -2px;
}

i[class="far fa-star"] {
    color : gray ;
} /* pas réussi à les rendre entièrement grises. Essayé avec une class
à l'intérieur du i, essayé avec un span autours du i. 
Il y a bien une version grise sur font icon mais payante. */

#hebergements h1, #activites h1 {
    font-size : 1.1em ;
}

#hebergements {
    display : flex;
    justify-content: space-between;
    margin-bottom: 40px ;
}

#hebergements article {
    flex : 3;
    height: 625px ;
    background-color: #f2f2f2 ;
    border : 1px #f2f2f2 solid;
    border-radius: 10px;
    padding : 40px ;
    margin-right: 40px ;
} /* à 100% sur mon navigateur, les rectangles des hôtels se mettent
sur deux colones et dépassent le container gris... ! */

#container_hebergements {
    display :flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top : 30px ; margin-bottom: 40px ;
}

.container_hotel {
    display: flex;
    position: relative;
    width : 245px; height: 200px;
    margin-bottom : 30px ;
    background-color: white;
    border : 3px white solid;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #c8c8c8;
}

.container_hotel img {
    width: 100% ; height: 65% ;
    object-fit: cover;
    border : 3px white solid;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
}

.caption_hotel {
    position: absolute;
    bottom : 0 ; left : 0 ;
    width : 100% ; height : 35% ;
}

.caption_hotel h3 {
    font-size : 0.9em ;
    margin : 5px 0 5px 12px;
}

.caption_hotel p {
    font-size : 0.8em ;
    margin : 0 0 5px 12px ;
}

#afficher_plus {
    font-size: 1em;
    font-weight: bold;
}

aside {
    flex : 1.3;
    height: 625px ;
    background-color: #f2f2f2 ;
    border : 1px #f2f2f2 solid;
    border-radius: 10px;
    padding : 40px ;
}

#title_populaire {
    display: flex ;
    flex-direction: row ;
    justify-content: space-between;
}

#container_populaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height : 510px ;
}

.container_hotel_populaire {
    display: flex;
    position: relative;
    width : 345px; height: 145px;
    background-color: white;
    border : 3px white solid;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #c8c8c8;
}

.container_hotel_populaire img {
    width: 40% ; height: 100% ;
    object-fit: cover;
    border : 3px white solid;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
}

.caption_populaire {
    position: absolute;
    top : 0 ; right : 0 ;
    width : 60% ; height : 100% ;
}

.caption_populaire h3 {
    font-size : 0.9em;
    margin : 15px 45px 12px 15px ;
}

.caption_populaire p {
    font-size: 0.8em;
    margin : 0px 45px 40px 15px ;
}

i[class="fas fa-chart-line"] {
    font-size: 1.4em;
    color : black;
    padding-right : 7px;
}


                                        /* section activités */
#activites {
    height: 510px ;
    margin-bottom : 40px ;
}

#contain_activites {
    display: flex ;
    justify-content: space-between;
}  

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height : 445px ;
    flex : 25%;
    max-width: 25%;
}

.xl {
    display: flex;
    position: relative;
    width : 305px; height: 445px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #c8c8c8;
}

.l {
    display: flex;
    position: relative;
    width : 305px; height: 240px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #c8c8c8;
}

.m {
    display: flex;
    position: relative;
    width : 305px; height: 210px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #c8c8c8;
}

.s {
    display: flex;
    position: relative;
    width : 305px; height: 165px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #c8c8c8;
}

#contain_activites img {
    width: 100% ; height: 85% ;
    position : absolute ;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}

#contain_activites h3 {
    position: absolute;
    box-sizing: border-box;
    bottom : 0 ;
    width : 100% ; height : 50px ;
    padding-top : 25px ; padding-left : 20px ;
    background-color: white;
}

                                    /* footer */

footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 45px ;
    padding-right : 365px ;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

footer li {
    padding-bottom: 7px;
    list-style-position: inside;
}