@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

#blocpage {
    width : 1080px ;
    margin : auto ;
    background-color: white;
    font-family: 'Raleway', Arial, Helvetica, sans-serif ;
}

h2, li a, p {
    font-size: 0.8em;
    font-weight : normal;
}

h3 {
    font-size : 0.8em ;
    font-weight: bold;
}

a {
    text-decoration : none;
    color : black ;
}

i {
    font-size : 0.8em ;
    color :#0065FC;
}

                                                     /* header */

header {
    display: flex;
    justify-content: space-between ;
}

#entête_logo img {
    width: 75px;
    height: 30px;
    margin-top : 4%;
} /*peut-on aussi régler la taille des images en pourcentage, pour que le logo s'adapte à tous les écrans ?*/

#entête_logo h1 {
    font-size: 1.1em;
    font-weight: bold;
    margin : 6% 0 0 0 ;
}

#entête_logo h2 {
    margin-top : 1% ; margin-bottom: 2.5% ;
}

nav ul {
    display :flex ;
    list-style-type: none;
}

nav li {
    margin-right : 20% ;
    margin-top: 5%;
}

nav li:last-child a {
    color : #0065fc ;
    font-weight: bold;
   
} /*essayé avec nav a:last-child : tout les liens nav devenait bleu. Idem avec nav a:last-of-type. Pourquoi? */

nav a:hover {
    color : #0065FC ;
    border-top : 1px solid #0065FC ;
    padding-top : 30px;
} /*sur la maquette, la ligne border top dépasse le texte, comment la rendre plus longue ? */

/*comment recentrer nav, qui part trop à droite*/


                                                    /*champs de recherche*/
input, label, #contain_filtres p {
    font-size : 0.8em ;
    font-weight: bold;
}

i[class="fas fa-map-marker-alt"] {
    background-color: #F2F2F2;
    color : black ;
    border : 1px #f2f2f2 solid ;
    border-radius: 15px 0 0 15px;
    padding : 1.15% ;
}

input[type="search"] {
    border : none ;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    padding : 1% ;
    width: 15%;
}

input[type="submit"] {
    background-color: #0065FC;
    color : white ;
    border : 1px #0065FC solid ;
    border-radius: 0 15px 15px 0;
    padding : 1% ;
} /* n'arrive pas à coller tous les éléments ensemble */

#contain_filtres {
    display : flex ;
    margin-top : 1.8%;
    margin-bottom: 2.5%;
}

.button_filtre {
    display: inline;
    margin-left: 3%;
    border : 2px #f2f2f2 solid ;
    border-radius: 20px;
}

.button_filtre i {
    background-color: #DEEBFF;
    border : 2px #DEEBFF solid;
    border-radius: 50%;
    padding : 12px;
}

.button_filtre:hover {
    background-color: #DEEBFF;
    color : #0065FC;
}

input[type="checkbox"] {
    display: none;
}

i[class="fas fa-info"] {
    border : 2px #F2F2F2 solid ;
    border-radius: 50%;
    padding: 0.5% 0.8%;
    margin-right: 0.5%;
}

                                    /* section hébergements */
i[class*="star"] {
    color : #0065fc ;
    font-size: 0.8em;
} /* comment rapprocher les étoiles? */

#hébergements a, #activités a {
    text-decoration: none;
    color : black
}

main h1 {
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 15px;
    margin-left : 18px;
}

#hébergements {
    display: flex;
    justify-content: space-between;
}

#hébergements article {
    flex : 3;
    min-height: 450px ;
    background-color: #f2f2f2 ;
    border : 1px #f2f2f2 solid;
    border-radius: 10px;
    padding : 1.3%;
    margin-right: 3%;
}

#contain_global_heb {
    display :flex ;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contain_hebergements {
    display: flex;
    position: relative;
    width : 190px; height: 145px;
    margin-bottom : 30px ;
    background-color: white;
    border : 3px white solid;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #c8c8c8;
}

.contain_hebergements img {
    width: 99.5% ; height: 65% ;
    top : 0 ; left : 0 ;
    object-fit: cover;
    border : 3px white solid;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
}

.caption_hebergements {
    position: absolute;
    bottom : 0 ; left : 0 ;
    width : 99.5% ; height : 33.5% ;
}

.caption_hebergements h3 {
    margin : 1% 0% 1.5% 5% ;
}

.caption_hebergements p {
    font-size : 0.7em ;
    margin : 1.5% 0% 0% 5% ;
}

#afficher_plus {
    font-size: 0.9em;
    font-weight: bold;
    margin-left: 18px;
}

aside {
    flex : 1.3;
    min-height: 450px ;
    background-color: #f2f2f2 ;
    border : 1px #f2f2f2 solid;
    border-radius: 10px;
    padding : 1.3% ;
}

#title_populaire {
    display: flex ;
    flex-direction: row ;
    justify-content: space-between;
}

#contain_global_populaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} /*pourquoi pas au centre du container et pourquoi space-between ne marche pas */

.contain_populaire {
    display: flex;
    position: relative;
    width : 260px; height: 110px;
    background-color: white;
    border : 3px white solid;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #c8c8c8;
}

.contain_populaire img {
    width: 36% ; height: 99.5% ;
    object-fit: cover;
    border : 3px white solid;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
}

.caption {
    position: absolute;
    top : 0 ; right : 0 ;
    width : 59% ; height : 99.5% ;
}

.caption h3 {
    margin : 8% 20% 1% 0 ;
}

.caption p {
    margin : 3% 20% 16% 0 ;
}

i[class="fas fa-chart-line"] {
    font-size: 1.3em;
    color : black;
    padding-top : 5px ; padding-right : 18px;
}


                                        /* section activités */
#activités {
    height: 450px ;
    margin-top : 40px ;
}

#activités h1 {
    margin-left : 0px ;
}

#contain_activités {
    display: flex ;
    justify-content: space-between;
}  

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 335px;
} /* mais pourquoi il n'y pas d'espace ? 
même problème que plus haut, héb populaires... 
ai essayé en mettant les .row a en display block, sans succès */

.column {
    flex: 25%;
    max-width: 25%;
}

.xl {
    display: flex;
    position: relative;
    width : 230px; height: 335px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #c8c8c8;
}

.l {
    display: flex;
    position: relative;
    width : 230px; height: 175px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #c8c8c8;
}

.m {
    display: flex;
    position: relative;
    width : 230px; height: 145px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #c8c8c8;
}

.s {
    display: flex;
    position: relative;
    width : 230px; height: 125px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #c8c8c8;
}

#contain_activités img {
    width: 100% ; height: 85% ;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}

#contain_activités h3 {
    position: absolute;
    bottom : 0 ; left : 0 ;
    width : 99.5% ; height : 40px ;
    margin : 5% 5% 5% 0 ;
}

                                    /* footer */

footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    min-width: 100% ;
}  /*comment étirer le fond gris sur toute la page ?*/

ul {
    list-style-type: none;
    padding-left: 0;
}

footer li {
    padding-bottom: 7px;
    list-style-position: inside;
}